<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="accpagibigph3srv.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="accpagibigph3srv.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <accpagibigph3srv.Properties.Settings>
            <setting name="SYS_DATE" serializeAs="String">
                <value />
            </setting>
            <setting name="CONSO_CNTR" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="CONSO_RECARD_CNTR" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AESKey" serializeAs="String">
                <value>p@gIb1gUbp@CC2019</value>
            </setting>
            <setting name="DbaseConStr" serializeAs="String">
                <value>Server=10.88.77.68;Database=LCDB_01;User=allcard;Password=MalboroLights#;</value>
            </setting>
            <setting name="CONSOFC_CNTR" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="CONSOFC_RECARD_CNTR" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="CentralDbaseConStr" serializeAs="String">
                <value>Server=10.88.87.68;Database=LCDB_01_SYS;User=allcard;Password=MikasaAckerman#;</value>
            </setting>
        </accpagibigph3srv.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <accpagibigph3srv.Properties.Settings>
            <setting name="accpagibigph3srvZIP_bank_ws_ACC_MS_WEBSERVICE"
                serializeAs="String">
                <value>http://localhost:1650/ACC_MS_WEBSERVICE.asmx</value>
            </setting>
        </accpagibigph3srv.Properties.Settings>
    </applicationSettings>
</configuration>
